.bidding-page__container{
    display: grid;
    /* grid-template-rows: 10% 70% 20% ; */
    grid-template-rows: 10vh minmax(150vh, 1fr) 30vh;
    grid-template-columns: 100%;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.bidding-page{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.images-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60% 80%;
}

.principal-image{
    display: grid;
    grid-template-columns: 30% 70%;
}

.carrusel-images{
    background-color: #1F7896;
}


.related-products__container{
    display: grid;
    grid-template-rows: 2% 10% 50%;
    width: 90%;
}

.related-products__order{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 1rem;
    width: 100%;
    margin-right: 1rem;
    justify-content: center;
}

.related-products__items{
    border-radius: 0.4rem;
    background-color: #D9D9D9;    
}

.bidding-info-container{
    width: 100%;
}

.bidding-name{
    font-size: 2em;
    font-weight: bold;
    background-color: #8f0000;
}

.bidding-description{
    background-color: aquamarine;
}

.bidding-buttons__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding:1rem;
}

.item-info{
    background-color: #1c7628;
}

