.text-input{
    border: none;
    border-bottom: 0.2rem solid #1F7896 ; 
    padding: 0.2rem;
    margin: 0.6rem;
    width:100%
}
.text-input:focus{
    outline: 0.1rem solid #1F7896;
}
.button{
    padding: 0.8rem 1.6rem;
    /* font-size: 16px; */
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.button__blue{
    background-color: #1F4452;
    color: white;
}

.button-text{
    text-decoration: none;
}

.button__blue:hover{
    background-color: #1F7896;
}

.nav-button-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.big-on-hover:hover{
    transform: scale(1.2);
    
}

.text{
    font-family: 'Roboto', sans-serif;
}
.text__white{
    color: white;
}
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.sidebar-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.footer-list{
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.8rem;
    
}