.main-page-logo{
    height: 3rem;
    width: 3.25rem;
    margin: 1rem;
}

.main-page-icon{
    height: 2.5rem;
    width: 2.75rem;
    margin: 1rem;
}

.main-page-container{
    display: grid;
    /* grid-template-rows: 10% 70% 20% ; */
    grid-template-rows: 10vh minmax(70vh, 1fr) 8vh;
    grid-template-columns: 100%;
    min-height: 100vh;
    overflow-y: auto;

    
}

.search-input{
    width: 90%;
    padding: 0.5rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    background-color: #e0e0e0;
    border-radius: 1.5rem;
}

.search-button{
    background-color: #0a3d62;
    border: none;
    border-radius: 1rem;
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.search-icon{
    width: 1.25rem;
    height: 1.25rem;
}

.search-bar{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 0;
    background-color: #e0e0e0;
    border-radius: 1.5rem;
    padding: 0;

}

.search-bar-container{
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    /* background-color: #1F7896;
    border-radius: 1.5rem;
    padding: 0.2rem;
    border: 2px solid #0077b6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);  */
}

.main-page-login-register-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 1rem;
    gap: 1rem;
}

.main-page-header{
    grid-row: 1;
    display: grid;
    grid-template-columns: 5% 5% 80% 10%;
    grid-template-rows: 100%;
    align-items: center;
    background-color: #1F7896;
}

.main-page-footer{
    grid-row: 3;
    background-color: #21485A;
}

.main-page-content{
    grid-row: 2;
    
    display: flex;
    flex-direction: column;

}

.main-page-footer{
    /* border-top: 0.1rem solid white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-page-footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
    align-items: start;
}

.main-page-sidebar{
    background-color: #1F7896;
}