.container{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    display: grid;
    /* grid-template-rows: 10% 70% 20% ; */
    grid-template-rows: 10vh minmax(70vh, 1fr) 30vh;
    grid-template-columns: 100%;
    min-height: 100vh;
    overflow-y: auto;

    
}